body { 
	background: url(images/bgtop-shade.png) 0 0 repeat-x;

}

#textinfo { 
	display:none;
background-color:#ffffaa;border:1px solid black;padding:.5em; margin:0px;text-align:right;margin-right:2em;
} 

#toppanel { 

	width:300px; 
	margin:auto;

	margin-top:120px;
} 

#content  {
	width:810px;
	margin:auto;
} 

#footer { 
	color:gray;
	width:810px;
	margin:auto;
	border:1px solid gray;
	padding:1em;
	font-size:75%;
}
