
/************ Patch Toolbar.css *************/

/* marcio */ 


#toolbar-menubar { 
	min-height:28px; 
  background: transparent url(chrome://global/skin/toolbar/toolbar-background-topshade.png) 0 0;

}

toolbar { 
	-moz-appearance: none; 
} 

menubar { 
	-moz-appearance: none; 
} 


