/************** Overlay marcio ***************/

menupopup,
popup,
panel {
   background: #dedede url(chrome://global/skin/popup-bg.png) 0 0;
   border-top:1px solid white;
   border-left:1px solid white;
   border-right:1px solid #ccc;
   border-bottom:1px solid #ccc;
   background-color:#dedede !important;
   -moz-appearance:none;
}

