/* temporary test - this dates from3.1b2 */

.viewSelector {
  background-color: #969696;
  border-bottom: 1px solid #404040;
  background-image: url("chrome://global/skin/toolbar/toolbar-background-topshade.png");
  background-repeat: repeat-x;
  padding: 4px 0 8px;
  margin: 0;
  -moz-box-pack: center;
}


/* marcio
  -moz-appearance: dialog;
*/
#commandBarBottom {
  -moz-appearance: none;
}

/*
  marcio
  color: HighlightText;
  background-color: Highlight;
*/
richlistitem[selected="true"] {
  background: transparent url("chrome://mozapps/skin/extensions/selectedBackground.png") 0 0 ;
  color: black;
}



/* marcio

  background-image: url("chrome://mozapps/skin/extensions/itemDisabledFader.png");
*/

richlistitem[selected="true"][isDisabled="true"] {
  background: transparent url("chrome://mozapps/skin/extensions/inactiveBackground.png") 0 0 ;
}




