#tabs-header { 
} 
.prefooter { 
 	width:900px;
	margin:auto;
	color:gray;
} 

/* These are used to the side panels */


h4 { 
	font-size:140%;
	margin:.5em;
	margin-top:0;
}

.headerlink { 
	font-weight:bold;
	text-decoration:none;
}

a:hover { 
	text-decoration:underline;
} 


.thumbimg { 
	border:7px solid #ddd;
} 

#panel-container { 
	width:520px;
	float:right;
}
.items-description h2 { 
}

.items-description { margin-bottom:2em } 
.items-description td { 
	font-size:90%;
	color:gray;
	padding-left:1em;
	text-alignment:justify;
} 

.thumb { 	
	border:1px solid gray;
	margin-right:10px;	
	padding:1px;
} 

#overdrive-buffers { 

	display:none;
} 
#panel-container { 
  padding-left:1em;
} 
a {  } 

#tabs-header { 
	margin:auto;
	margin-top:-4px;
	width:850px;
	padding:0;
} 
div.tr { 
	font-size:85%
}

div.tr * { color:#555 } 

div.tr h3 { 
	margin:0 0 .6em 0;
}

#bottomfooter { 
	color:black;
	height:180px;
	padding:1em;
} 

#bottomfooter table { 
	margin:auto;
	width:840px;
}

#bottomfooter td { 
	font-size:87%;
}

#bottomfooter ul { 
	margin:0px;
}

#bottomfooter h3 { 
	margin:0;
}



table td { 
	font-size:78%;
} 

table td > img { 
 	border:2px solid #bbb;
	padding:1px;;
} 


.section a { 
	color:black;
	text-decoration:none;
}

.section a:hover { 
	text-decoration:underline;
}  


.fixverticalalign { 

  width:1px;height:68px;vertical-align:middle;
   position:relative;

} 


.tab-plain {
        width:350px;
        height:80;x
        margin:0px;
        padding:0px;
        background:url(../output/component-fixed-tab-plain/image.png) no-repeat 0 0;
        text-align:center;
}


html { 
 	font-family: verdana, sans-serif; 
	font-size:90%;
	color:black;
	margin:0px;
} 

h1,h2,h3 { 
 	color:rgb(30,30,30);
} 



h2 { 
} 
h1 { 
	margin-top:0;
	margin:1em;
}

.section h2 { 
	color:blue;
} 

            html, body {
                        padding:0px;
                        margin:0px;
                }

		.separator  {
                        background: white url(../output/component-footer/bg-odd.png) -350px -50px repeat-x;
			width:100%;

			margin-top:1em;
		} 

                body {
                        margin:0px;
                        background: url(../output/vendor-corinthians/top.png) top center no-repeat;
                }
		#topheader-section a { 
			color:white;
			text-decoration:none;
			opacity:.5;
		} 
                #logo {
			padding-top:65px;
			width:410px;	
			height:154px;
	
                }

.content { 
 	width:790px;
	margin:auto;
	text-align:justify;
	-moz-border-radius:14px;
	background-color:white;
	color:black;
	border:1px solid black;
	padding:1em;
	padding-top:10px;
	margin-top:110px;
} 

