
/* Color table

  standard light - 250,190,240
  standard up  -255,210,250
  white - 255,255,255 
  
*/

/* Check the global CSS background color via rgb values in global.css */

.tab-outer2 { 
  stroke: white; 
  stroke-width:20; 
  fill:none;
}

.tab-outer { 
  stroke: rgb(250,190,240); 
  stroke-width:10; 
  fill:none;
} 

.urlbar-outer { 
  stroke: white; 
  stroke-width:1; 
  fill:none;
} 

.tab-from-color { 
   stop-color: rgb(250,190,240); 
   stop-opacity: 1;
} 

.tab-to-color { 
   stop-color: rgb(255,255,255); 
   stop-opacity: 1;
} 

.color-white { 
   stop-color: rgb(255,255,255);
   stop-opacity:1; 
} 
.color-black { 
   stop-color: rgb(0,0,0);
   stop-opacity:1; 
} 

.popup-from-color { 
	stop-color:rgb(255,255,255);
	stop-opacity:1
}
.popup-to-color { 
	stop-color:rgb(250,190,240); 
 	stop-opacity:1; 
} 

/* Browserr find bar */

.findbar-from-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}
.findbar-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.findbar-button-from-color {
        stop-color:rgb(195,165,185);
        stop-opacity:1
}
.findbar-button-to-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}

/* button general */

.button-from-color {
        stop-color:rgb(255,210,250);
        stop-opacity:1
}
.button-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.button-focused-color {
        stop-color:rgb(255,230,255);
        stop-opacity:1;
}



/* Other toolbar */

.toolbar-inactive-from-color {
        stop-color:rgb(210,210,210);
        stop-opacity:1
}
.toolbar-inactive-to-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}

.toolbar-from-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1
}
.toolbar-to-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}


.bookmarks-toolbar-from-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}
.bookmarks-toolbar-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.bookmarks-toolbar-inactive-from-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}
.bookmarks-toolbar-inactive-to-color {
        stop-color:rgb(210,210,210);
        stop-opacity:1;
}


.toolbarbutton-from-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}
.toolbarbutton-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.toolbarbutton {
  stroke: white;
  stroke-width:2;
}

.tabbrowsertabs-from-color-dark {
        stop-color:rgb(125,95,120);
        stop-opacity:1
}
.tabbrowsertabs-from-color {
        stop-color:rgb(210,160,209);
        stop-opacity:1
}
.tabbrowsertabs-to-color {
        stop-color:rgb(240,184,232);
        stop-opacity:1;
}

/* Standard urlbar - notice this is called urlbarstart but refers to urlbar entirelly */

.urlbarstart-from-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}
.urlbarstart-to-color {
        stop-color:rgb(240,184,232);
        stop-opacity:1;
}

/* Urlbar focused */

.urlbar-focused-top-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.urlbar-focused-bottom-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}




/* Urlbar active */ 

.urlbar-active-top-color {
        stop-color:rgb(255,124,242);
        stop-opacity:1;
}
.urlbar-active-bottom-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1
}

/* Urlbar secure */

.urlbarstart-secure-top-color {
        stop-color:rgb(184,184,232);
        stop-opacity:1
}
.urlbarstart-secure-bottom-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}

.urlbarstart-verified-top-color {
        stop-color:rgb(184,255,184);
        stop-opacity:1
}
.urlbarstart-verified-bottom-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}
