/* Check the global CSS background color via rgb values in global.css */

.tab-outer2 { 
  stroke: white; 
  stroke-width:20; 
  fill:none;
}

.tab-outer { 
  stroke: rgb(250,190,240); 
  stroke-width:10; 
  fill:none;
} 

.tab-from-color { 
   stop-color: rgb(250,190,240); 
   stop-opacity: 1;
} 

.tab-to-color { 
   stop-color: rgb(255,255,255); 
   stop-opacity: 1;
} 

.color-white { 
   stop-color: rgb(255,255,255);
   stop-opacity:1; 
} 
.color-black { 
   stop-color: rgb(0,0,0);
   stop-opacity:1; 
} 


.popup-from-color { 
	stop-color:rgb(255,255,255);
	stop-opacity:1
}
.popup-to-color { 
	stop-color:rgb(250,190,240); 
 	stop-opacity:1; 
} 


.toolbar-from-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1
}
.toolbar-to-color {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}

.tabbrowsertabs-from-color {
        stop-color:rgb(90,70,90);
        stop-opacity:1
}
.tabbrowsertabs-to-color {
        stop-color:rgb(210,150,200);
        stop-opacity:1;
}




