/* This needs to be here at position 0  */

#content-master { 
	width:100%;
	margin:0; padding:0;
	background: url(images/bgtop-shade.png) 0 0 repeat-x;
}

/* this needss to be here at position 1 */
#textinfo { 
	display:none;
	font-family:arial;
background-color:#ffffaa;border:1px solid black;padding:.5em; margin:0px;text-align:right;margin-right:2em;
} 


#customize-panel { 
	text-align:center;
	font-family:arial;
	height:0px;background-color:#eeeeee;width:100%;
	overflow:hidden;
}


body { 
	margin:0; padding:0;
} 

#toppanel { 

	width:300px; 
	margin:auto;
	padding-top:120px;
} 

#content  {
	width:810px;
	margin:auto;
} 

#footer { 
	color:gray;
	width:810px;
	margin:auto;
	border:1px solid gray;
	padding:1em;
	font-size:75%;
}
