
.button a { 
	text-decoration:none; 
	color:black;

} 
.button {
        width:210px;
        margin:0px;
        padding:0px;
	padding-top:20px;
        background:url(../output/component-fixed-button/gray.png) no-repeat 0 0;
        text-align:center;
	font-size:120%;
	font-weight:bold;
	color:black;
        height:40px;
}
.button-highlight {
	opacity:.8;
}
.button-blue {
        background:url(../output/component-fixed-button/blue.png) no-repeat 0 0;
}
.button-lightblue {
        background:url(../output/component-fixed-button/lightblue.png) no-repeat 0 0;
}
.button-black {
        background:url(../output/component-fixed-button/black.png) no-repeat 0 0;
	color:white;
}
.button-odd {
        background:url(../output/component-fixed-button/image.png) no-repeat 0 0;
}


