   fill: rgb(250,190,240);
   stop-color: rgb(250,190,240);
   stop-color: rgb(255,255,255);
   stop-color: rgb(120,80,110);
   stop-color: rgb(250,190,240);
   stop-color: rgb(255,240,255);
  stroke: rgb(250,190,240); 
   stop-color: rgb(250,190,240); 
   stop-color: rgb(255,240,255); 
   stop-color: rgb(255,240,255);
   stop-color: rgb(0,0,0);
	stop-color:rgb(255,240,255);
	stop-color:rgb(250,190,240); 
        stop-color:rgb(255,240,255);
        stop-color:rgb(250,190,240);
        stop-color:rgb(195,165,185);
        stop-color:rgb(255,240,255);
        stop-color:rgb(255,210,250);
        stop-color:rgb(250,190,240);
        stop-color:rgb(255,240,255);
        stop-color:rgb(255,240,255);
        stop-color:rgb(255,240,255);
        stop-color:rgb(210,210,210);
        stop-color:rgb(255,240,255);
        stop-color:rgb(100,70,95);
        stop-color:rgb(100,70,95);
        stop-color:rgb(250,190,240);
        stop-color:rgb(255,240,255);
        stop-color:rgb(255,240,255);
        stop-color:rgb(250,190,240);
        stop-color:rgb(255,240,255);
        stop-color:rgb(210,210,210);
        stop-color:rgb(255,240,255);
        stop-color:rgb(250,190,240);
        stop-color:rgb(125,95,120);
        stop-color:rgb(210,160,209);
        stop-color:rgb(240,184,232);
        stop-color:rgb(255,240,255);
        stop-color:rgb(240,184,232);
        stop-color:rgb(250,190,240);
        stop-color:rgb(255,240,255);
        stop-color:rgb(255,124,242);
        stop-color:rgb(255,240,255);


