
#stop3186 { 
 stop-color: rgb(250,190,240) ! important;
 stop-opacity:1; 
} 

#stopwhite { 
 stop-color: rgb(250,250,250) ! important;
 stop-opacity:1; 
} 

#stopdark-blur-doublebutton { 
        stop-color: red ! important;
	stop-opacity:1;
} 
  
